body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #2286e4;    
}
.main-body {
    padding: 15px;
}

#pfp-img {
    border: #f4f429 2px solid;
    box-shadow: 0px 4px 14px -11px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding-top: 2rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

/* Center the div and apply responsive padding */
.gutters-sm {
    display: flex;
    justify-content: center;
    padding-top: 450px;
    margin-right: -8px;
    margin-left: -8px;
}

/* Apply padding to columns within the .gutters-sm div */
.gutters-sm > .col, .gutters-sm > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
}

/* Add responsive styles */
@media (max-width: 768px) {
    .gutters-sm {
        padding-top: 240px; /* Adjust the padding for smaller screens */
    }
}

@media (max-width: 576px) {
    .gutters-sm {
        padding-top: 120px; /* Further adjust the padding for extra small screens */
    }
}
 
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #fbfdff;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}