/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header */
header {
    background: rgba(151, 152, 150, 0.66); /* darker background */
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); /* add shadow */
    transition: 0.3s; /* add transition */
}

header:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* add hover effect */
}

header h1 {
    font-size: 2.5em; /* larger font size */
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000; /* add text shadow */
}

header p {
    margin: 5px 0;
    font-size: 1.2em; /* larger font size */
}

header a {
    color: #00c1d4; /* change link color */
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease; /* add transition */
}

header a:hover {
    color: #00c1d4; /* change hover color */
    text-decoration: underline;
}

/* Section Titles */
h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #00c1d4;
    display: inline-block;
    padding-bottom: 5px;
}

/* About Me Section */
#about-me {
    margin-bottom: 20px;
}

#about-me p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.8;
    padding: 10px;
    background: #fff;
    border-left: 4px solid #00c1d4;
    border-radius: 5px;
}

/* Education Section */
#education-list {
    list-style-type: none;
    padding: 0;
}

#education-list li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#education-list h3 {
    margin: 0;
    font-size: 1.3em;
    color: #333;
}

#education-list p {
    margin: 5px 0;
    color: #666;
    font-size: 1em;
}

/* Skills Section */
#skills {
    margin-top: 20px;
}

#skills h4 {
    font-size: 1.2em;
    margin: 5px 0;
    color: #333;
}

#skills p {
    margin: 5px 0 15px;
    font-size: 1em;
    color: #555;
    background: #fff;
    padding: 10px;
    border-left: 4px solid #00c1d4;
    border-radius: 5px;
}

/* Projects Section */
#projects-list {
    list-style-type: none;
    padding: 0;
}

#projects-list li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#projects-list h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
    color: #333;
}

#projects-list p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

#projects-list a {
    color: #00c1d4;
    font-weight: 500;
    text-decoration: none;
}

#projects-list a:hover {
    text-decoration: underline;
}

/* Responsiveness */
@media (max-width: 768px) {
    header {
        text-align: left;
        padding: 10px;
    }

    h2 {
        font-size: 1.5em;
    }

    header h1 {
        font-size: 1.8em;
    }

    header p, #about-me p, #education-list h3, #skills h4 {
        font-size: 1em;
    }
}
